<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agooSend</key>
	<dict>
		<key>class</key>
		<string>TBSDKPushAccsReceiver</string>
	</dict>
	<key>ha-remote-debug</key>
	<dict>
		<key>class</key>
		<string>AliHAPushService</string>
	</dict>
</dict>
</plist>
